table, td, tr , th {border: 2px solid black ;
                    border-collapse: collapse;}
table {width: 800px;}

.large {width: 500px;}

th, td {width: 100px;
        padding: 5px;}

body{background-image:url(../logoCF2M.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 150px 150px;
    margin-right: auto;
    margin-left: auto;
    width: 800px;   }

h1 {margin-top: 170px;
font-size:300%;}

h1, h2, address {text-align: center;}

address {border: 3px dashed  rgb(0,128,255);
        padding: 10px;
        width: 250px;
        margin: auto;}

.gauche {text-align: left;}
.droite {text-align: right;}
.centre {text-align: center;}